# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# esbuild directories
.esbuild

coverage

# build directory
dist/


# tmp directory for experiments
tmp/

# private env data
.env

# ignore test result directory
test/

# ignoring macOS system files
.DS_Store
